*           text=auto eol=lf

# Sii esplicito sui file del progetto
*.c         text eol=lf
*.h         text eol=lf
Makefile    text eol=lf
*.md        text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.tex       text eol=lf
*.tsv       text eol=lf
